.container{
    text-align: center;    
}
.header{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}
.date{
    margin-right: 1.25rem;
}
.column{
    display: flex;
    justify-content: center;
    margin-bottom: 0.625rem;
}
.build, .group{
    margin-right: 0.625rem;
}

.btnfilter, .btnexport{
    background-color: #1F8DFF;
    border-radius: 0.375rem;
    color: white;
    padding: 0.625rem 2.5rem;
}
.btnfilter{
    margin-right: 1.25rem;
}
.btnexport{
    margin-left: 1.25rem;
}
.btnfilter:hover, .btnexport:hover{
    cursor: pointer;
}

table {
    border: 0.125rem solid;
}
th{
    background-color: #1F8DFF;
    color: white;
}
td{
    background-color: #DDDDDD;
}

.pagination{
    margin-top: 0.625rem;
}
.pagination > button{
    background-color: #1F8DFF;
    border-radius: 0.375rem;
    color: white;
    border: none;
    padding: 0.625rem 1.25rem;
}
.pagination > span{
    margin: 0rem 1.25rem;
}

